################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bot Application1/v14/.suo
/Bot Application1/bin/de
/Bot Application1/bin/zh-Hant/System.Spatial.resources.dll
/Bot Application1/bin/zh-Hant/Microsoft.Data.Services.Client.resources.dll
/Bot Application1/bin/zh-Hant/Microsoft.Data.OData.resources.dll
/Bot Application1/bin/zh-Hant/Microsoft.Data.Edm.resources.dll
/Bot Application1/bin/zh-Hant
/Bot Application1/bin/zh-hans/System.Spatial.resources.dll
/Bot Application1/bin/zh-hans/Microsoft.Data.Services.Client.resources.dll
/Bot Application1/bin/zh-hans/Microsoft.Data.OData.resources.dll
/Bot Application1/bin/zh-hans/Microsoft.Data.Edm.resources.dll
/Bot Application1/bin/zh-hans
/Bot Application1/bin/ru/System.Spatial.resources.dll
/Bot Application1/bin/ru/Microsoft.Data.Services.Client.resources.dll
/Bot Application1/bin/ru/Microsoft.Data.OData.resources.dll
/Bot Application1/bin/ru/Microsoft.Data.Edm.resources.dll
/Bot Application1/bin/ru
/Bot Application1/bin/ko/System.Spatial.resources.dll
/Bot Application1/bin/ko/Microsoft.Data.Services.Client.resources.dll
/Bot Application1/bin/ko/Microsoft.Data.OData.resources.dll
/Bot Application1/bin/ko/Microsoft.Data.Edm.resources.dll
/Bot Application1/bin/ko
/Bot Application1/bin/ja/System.Spatial.resources.dll
/Bot Application1/bin/ja/Microsoft.Data.Services.Client.resources.dll
/Bot Application1/bin/ja/Microsoft.Data.OData.resources.dll
/Bot Application1/bin/ja/Microsoft.Data.Edm.resources.dll
/Bot Application1/bin/ja
/Bot Application1/bin/it/System.Spatial.resources.dll
/Bot Application1/bin/it/Microsoft.Data.Services.Client.resources.dll
/Bot Application1/bin/it/Microsoft.Data.OData.resources.dll
/Bot Application1/bin/it/Microsoft.Data.Edm.resources.dll
/Bot Application1/bin/it
/Bot Application1/bin/fr/System.Spatial.resources.dll
/Bot Application1/bin/fr/Microsoft.Data.Services.Client.resources.dll
/Bot Application1/bin/fr/Microsoft.Data.OData.resources.dll
/Bot Application1/bin/fr/Microsoft.Data.Edm.resources.dll
/Bot Application1/bin/fr
/Bot Application1/bin/es/System.Spatial.resources.dll
/Bot Application1/bin/es/Microsoft.Data.Services.Client.resources.dll
/Bot Application1/bin/es/Microsoft.Data.OData.resources.dll
/Bot Application1/bin/es/Microsoft.Data.Edm.resources.dll
/Bot Application1/bin/es
/Bot Application1/bin/Microsoft.Data.OData.dll
/Bot Application1/bin/System.Spatial.dll
/Bot Application1/bin/System.Spatial.xml
/Bot Application1/bin/Microsoft.Azure.KeyVault.Core.dll
/Bot Application1/bin/Microsoft.Azure.KeyVault.Core.xml
/Bot Application1/bin/Microsoft.Data.Edm.dll
/Bot Application1/bin/Microsoft.Data.Edm.xml
/Bot Application1/bin/Microsoft.Data.Services.Client.dll
/Bot Application1/bin/Microsoft.Data.Services.Client.xml
/Bot Application1/bin/Microsoft.WindowsAzure.Storage.dll
/Bot Application1/bin/Microsoft.WindowsAzure.Storage.pdb
/Bot Application1/bin/Microsoft.WindowsAzure.Storage.xml
/Bot Application1/bin/Microsoft.Data.OData.xml
/Bot Application1/bin
/BotTests/obj/Debug
/BotTests/bin/Debug
